.row
{
    display: flex;
    justify-content: space-between;
}
.col
{
    height: 60px;
    flex: 2;
    margin: 30px;
    background-color: aqua;
}
.col-2
{
    height: 60px;
    flex: 3;
    margin: 30px;
    background-color: aqua;
}
.col-3
{
    height: 60px;
    flex: 4;
    margin: 30px;
    background-color: aqua;
}