* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-evenly;
  background-color: #9fc5f8;
  font-size: 22px;
  padding: 20px;
  color: #fff;
}

ul {
  margin-top: 10px;
}

nav ul li {
  display: inline-block;
  margin: 5px 0 0 7rem;
  font-weight: 600;
}

.container {
  display: block;
  margin: 20px auto;
  padding: 20px;
}
.cabital {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  font-size: 25px;
  margin-bottom: 40px;
}

select {
  font-size: 20px;
}

.expectation {
  display: flex;
  justify-content: space-evenly;
}

.weather {
  background-color: #eeeeee;
  padding: 40px;
  font-size: 40px;
  text-align: center;
}

img {
  border-radius: 50%;
  margin: 20px;
  height: 150px;
}

.weather p {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.high {
  color: #cf2a27;
}

.low {
  color: #2b78e4;
}

.cookie {
  display: flex;
  border: 5px solid black;
  margin: 25px;
  position: fixed;
}

.cookie img {
  width: 200px;
  height: auto;
}

.cookie-txt {
  display: flex;
  margin: 28px;
  font-size: 28px;
}

.cookie button {
  color: #fff;
  background-color: #9fc5f8;
  border: black solid 2px;
  box-shadow: 3px 3px;
  font-size: 20px;
  margin: 15px;
  width: 185px;
  height: 65px;
}

button:hover,
li:hover {
  cursor: pointer;
}
