<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>

<div class="top">
    <div class="right">
        <h1>Arbortrary</h1>
        <p>A site to track randomly planted trees</p>
    </div>
    <div class="left">
        <h2>Welcome,{{request.session.user_name}}!</h2>
    </div>
</div>
<div class="top1">
    <form action="/logout" method="post">
        {%csrf_token%}
        <button ><a class="a1" href="/plant/new">Plant a Tree</a></button>
        <button id="cc"> <a class="a1" href="/logout">logout</a> </button>
    </form>
</div>

<body style="margin:0 8% ;">


    <h1>All Shows</h1>
    <br>
    <table border=1 class="table table-striped">
        <tr>
            <th>Species</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for ar in allplant %}
        {% if ar.arbot.id == user.id %}
        <tr>
            <td class="table-primary">{{ar.species}}</td>
            <td class="table-secondary">{{ar.relasedate}}</td>
            <td class="table-warning"><a href="/delete/{{ar.id}}">delete</a> | <a href="/edit/{{ar.id}}">edit</a></td>
        </tr>
        {% endif %}
        {%endfor%}
    </table>

</body>

</html>