.container {
    display: flex;
    justify-content: space-around;

}
h1 {
    color: red;
}
input {
    border: 2px solid black;
    border-radius: 7px;
}
body {
    background-color: blueviolet;
}
form{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
p{
    color: black;
    
}