<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great_Number_Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_page.css' %}">
</head>
<form action="/number" method="POST">
    {% csrf_token %}
    <div class="flex">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        {% if request.session.result == "Was the right number" %}
        <div class="correct">{{request.session.random}}&nbsp;{{request.session.result}}


            <div>
                <a class="btn" href="/">Play Again!</a>
            </div>

        </div>
        {% elif request.session.reult == "Too High" %}
        <div class="correct">{{request.session.result}}</div>
        {% else %}
        <div class="low">
            <p>{{request.session.result}}</p>
        </div>
        {% if request.session.result != "Was the right number" %}
        <input class="width" type="text" name="submitted" placeholder="???">
        <input class="btn2" type="Submit" value="TryGame">
        {% endif %}
        {% endif %}
    </div>
</form>
</body>

</html>