<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <h2>Your Gold: {{summation}}</h2>
    <div>
        <form action="process_money" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="farm" onclick="">
            <h2>Farm</h2>
            <p>(earns 10-20 golds)</p>
            <input type="submit">
        </form>
        <form action="process_money" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="cave" onclick="repeat({{money_info}})">
            <h2>Cave</h2>
            <p>(earns 5-10 golds)</p>
            <input type="submit">
        </form>
        <form action="process_money" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="house" onclick="repeat({{money_info}})">
            <h2>House</h2>
            <p>(earns 2-5 golds)</p>
            <input type="submit">
        </form>
        <form action="process_money" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="casino" onclick="repeat({{money_info}})">
            <h2>Casino</h2>
            <p>(earns/takes 0-50 golds)</p>
            <input type="submit">
        </form>
    </div>
    <h2>Activities</h2>
    <textarea name="activities" id="activities" cols="40" rows="10">{{money_info}}</textarea>
    <form action="reset" id="play">
        {% csrf_token %}
        <input type="submit" value="Play Again">
    </form>
</body>

</html>